<span class="{% if attached is defined and attached == true %}text-white bg-success card-header{% else %}badge badge-success{% endif %}">
    <i class="fa fa-check"></i>
    {{ value|trans }}
</span>
