{%
    set viewOptions = {
    cart: { icon: "adjust", color: "secondary" } ,
    cancelled: { icon: "ban", color: "danger" } ,
    shipped: { icon: "plane", color: "success" } ,
    ready: { icon: "clock", color: "info" } ,
    }
%}

{% set value = 'sylius.ui.' ~ state %}

<span class="badge bg-{{ viewOptions[state]['color'] }} label">
    <i class="{{ viewOptions[state]['icon'] }} icon"></i>
    {{ value|trans }}
</span>
