<span class="{% if attached is defined and attached == true %}text-white bg-warning card-header{% else %}badge badge-warning{% endif %}">
    <i class="fa fa-adjust"></i>
    {{ value|trans }}
</span>
