<ul class="nav nav-tabs mt-3" id="productTab" role="tablist">
    {% include '@EasyShop/front/Product/Show/Tabs/_menu.html.twig' %}
</ul>
<div class="tab-content mt-2 mb-3" id="productTabContent">
    {% include '@EasyShop/front/Product/Show/Tabs/_content.html.twig' %}
</div>
