<div class="row mt-4 mb-4">
    <div class="col-12 col-sm-6" id="sylius-billing-address" {{ sylius_test_html_attribute('billing-address') }}>
        <div class="card">
            <h6 class="card-header">{{ 'sylius.ui.billing_address'|trans }}</h6>
            <div class="card-body">
                {% include '@EasyShop/front/Common/_address.html.twig' with {'address': order.billingAddress} %}
            </div>
        </div>
    </div>
    <div class="col-12 col-sm-6" id="sylius-shipping-address" {{ sylius_test_html_attribute('shipping-address') }}>
        <div class="card">
            <h6 class="card-header">{{ 'sylius.ui.shipping_address'|trans }}</h6>
            <div class="card-body">
                {% include '@EasyShop/front/Common/_address.html.twig' with {'address': order.shippingAddress} %}
            </div>
        </div>
    </div>
</div>
