<div class="d-block">
    {% for key, shipment in order.shipments %}
        {% include '@EasyShop/front/Checkout/SelectShipping/_shipment.html.twig' with {'form': form.shipments[key]} %}
    {% else %}
        {% include '@EasyShop/front/Checkout/SelectShipping/_unavailable.html.twig' %}
    {% endfor %}
</div>
